<div id="post" class="row">
  <div class="col-lg-10">
    <form id="post_form" class="form-horizontal">
      <div class="form-group"><input type="text" name="title" class="form-control" /></div>
      <div class="form-group"><button class="btn btn-success">Save</button></div>
    </form>
    <ul id="post_elements">
    </ul>
    <div class="form-group editor-addons">
      <a href="#" class="btn-lg" data-object="text"><span class="glyphicon glyphicon-text-height"></span></a>
      <a href="#" class="btn-lg" data-object="image"><span class="glyphicon glyphicon-picture"></span></a>
      <a href="#" class="btn-lg" data-object="map"><span class="glyphicon glyphicon-globe"></span></a>
      <a href="#" class="btn-lg" data-object="video"><span class="glyphicon glyphicon-film"></span></a>
      <a href="#" class="btn-lg" data-object="file"><span class="glyphicon glyphicon-cloud-download"></span></a>
    </div>
  </div>
</div>