<div class="panel panel-default">
  <div class="panel-heading"><span class="glyphicon glyphicon-th editor-dragndrop"></span> Sortable</div>
  <div class="panel-body">
    <form>
      <a href="#" class="thumbnail">
        <img data-src="holder.js/100%x180" alt="Image on Click Upload" />
      </a>
    </form>
  </div>
</div>