<div class="panel panel-default">
  <div class="panel-heading"><span class="glyphicon glyphicon-th editor-dragndrop"></span> Sortable</div>
  <div class="panel-body">
    <form>
      <textarea class="form-control" rows="5"></textarea>
    </form>
  </div>
</div>